{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in movies %}
    <div class="col">
        <div class="card movie-card h-100">
            <img src="{{ movie.image.url }}" class="img-fluid" style="max-height: 300px; object-fit: cover;" alt="{{ movie.title }}">

            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">Cena biletu: {{ movie.price }} zł</p>
                <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary">Wybierz miejsca</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}